a {
  color: red;
  /*border: 2px solid grey;
  border-radius: 4px;*/
  padding: 2px;
}

a:hover{
  color: white;
  background: rgb(16, 40, 45);
}

img{
  width:90vw;
}

html{
  font-family: 'Ubuntu', sans-serif;
}

body{
  margin: 1vw;
}