a {
  color: red;
  /*border: 2px solid grey;
  border-radius: 4px;*/
  padding: 2px;
}

a:hover {
  color: white;
  background: rgb(16, 40, 45);
}

img {
  display: inline;
  /*max-width: 90%;
  min-width: 50%;
  max-height: 95%;
  margin-left: auto;
  margin-right: auto;*/
  width: 90%;
  margin-left: 5%;
  max-height: 90%;
}

video {
  display: inline;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

audio {
  margin-left: auto;
  margin-right: auto;
  align-items: center;  /* Don't know why it is not working */
  align-content: center;
}

html {
  font-family: 'Ubuntu', sans-serif;
}

body {
  margin: 1vw;
  border: 2px solid black;
  border-radius: 4px;
  padding: 1vw;
  /*background-image: url('../images/20230228_Grasshopper.svg');*/
}

h2 {
  text-shadow: 3px 3px 5px rgb(144, 144, 144);
  margin: 0;
}

pre {
  background-color: rgb(225, 225, 225);
  border-radius: 4px;
}

figcaption {
  text-align: center;
  font-weight: 600;
}

iframe {
  border: 1px solid grey;
  width: 100%;
}